.card-footer {
  /*background-color: #cfb5a2;*/
  background-color: #decbb5 !important;
  /* background-image: url("./pictures/texture5.jpg"); */
}

/* link-uri footer */
.nav-item-aut:hover {
  color: #4b1515de !important;
  font-weight: bold;
  font-size: 20px;
}

.btn-cautare {
  background: #4b1515de;
  color: #fff;
  font-weight: 300;
  width: 180px;
  border-color: #160404 !important;
}

.btn-cautare-tabel {
  background: rgba(75, 21, 21, 0.82);
  color: #fff;
  font-weight: 300;
  width: 180px;
  border-color: #160404 !important;
}

.btn-cautare:focus {
  background-color: #5e1515 !important;
  border-color: #160404 !important;
}

.btn-cautare:hover {
  background-color: #5e1515;
  color: white;
}


/*.btn-cautare:hover {*/
/*  background: #4b1515de !important;*/
/*}*/

#logoDianaFooter {
  width: 170px;
}

.footer-title {
  margin-top: 30px;
}

#foot {
  margin-top:850px;
}

