/* REGISTER FORM */
.row-form-reg {
    width:100%;
    display: inline;
}

#register-form {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.reg-sec {
    padding: 50px 40px;
    position: relative;
    /* background-image: url("./pictures/pix5.jpg"); */
    float:left;
    display: inline;
    position: relative;
    /* border-radius: 15px; */
    box-shadow: rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

@media only screen and (max-width : 1768px) {
    .reg-form {

        float:right;
        width: 100%;
    }

}
.reg-sec h2 {
    font-family:  "\f15a";
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 40px;
    color: #160404;
}

.reg-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #feb58a;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.btn-register {
    background: #4b1515de;
    color: #fff;
    font-weight: 500;
    width:150px;
    font-size: 18px;
}


/* LOGIN FORM */
#login-form {
    background: rgba(0,0,0,0.1);
    /* opacity: 0.75; */
    border-radius: 10px;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #ffb082;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}
.btn-login {
    text-decoration: none;
    background: #333;
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*padding: 10px 25px;*/
    cursor: pointer;
    /*margin-bottom: 40px;*/
    /*margin-right: 40px;*/
}

.form-check-input {
    font-size: 20px;
}

/* CONTACT FORM */
.contact-sec {
    margin-left: 30px;
    margin-top:40px;
}

.contact-sec2 {
    margin-left: 30px;
    margin-top:40px;
}

.btn-contact {
    background: #4b1515de;
    color: #fff;
    font-weight: 400;
    width: 200px;
}

.alert-invalid {
    background-color: rgba(222, 61, 61, 0.18);
    font-size: 14px;
    color: #9c1a1a;
}




