.icon-mail {
    margin-left: 20px;
}

.icon-mail-contact {
    margin-right: 5px;
}

.icon-phone-contact {
    font-size: 1.2rem;
    margin-left: -5px;
}

/* icons din card home */
.icons-card {
    margin-right: 10px;
}

.icon-mail1{
    margin-right:10px;
}


.icon-phone1 {
    margin-left: -50px;
    margin-right:10px;
}

.icon-mapLoc {
    font-size: 1.2rem;
    margin-right: 10px;
    margin-left: 40px;
}

.icon-phone-contact {
    margin-left: 20px;
    font-size: 1.2rem;
}

