.navbar-light {
    box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.2);
}

/*NAVBAR DROPDOWNS*/
.navbar-nav .dropdown-item:hover {
    display: block;
    z-index: 9999;
    color: rgb(32, 28, 22);
    background-color: rgba(104, 100, 100, 0.096);
}

.navbar-nav .dropdown-item:visited {
    /*background-color: #a88370 ;*/
    display: block;
    z-index: 9999;
    background-color:  rgba(104, 100, 100, 0.096);
}

.navbar-nav .dropdown-menu {
    width: 300px;
    background-color: white;
    color:  rgba(104, 100, 100, 0.096);
    font-size: 18px;
}

/*icon search-navbar*/
#SearchInput {
    height: 40px;
    padding: 0px;
    font-size: 18px;
    margin: 5px 0;
}

#SearchInput::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: hsl(9, 42%, 35%);
}


/* animatie Logo navBar */
/*.hvr-grow {*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    -webkit-transform: perspective(1px) translateZ(0);*/
/*    transform: perspective(1px) translateZ(0);*/
/*    box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
/*    -webkit-transition-duration: 0.3s;*/
/*    transition-duration: 0.3s;*/
/*    -webkit-transition-property: transform;*/
/*    transition-property: transform;*/
/*}*/

/*.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {*/
/*    -webkit-transform: scale(1.1);*/
/*    transform: scale(1.1);*/
/*}*/

.navbar {
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding-left: -30px !important;
    padding-right: -20px;
    /*background-image: url("./pictures/texture5.jpg");*/
    background-color: #cfb5a2 !important;
}


.nav-item:hover {
    color: #4b1515de !important;
    font-weight: bold;
    /*font-size: 40px;*/
}

.nav-item-produse:hover {
    color: #4b1515de !important;
    font-weight: bold;
    font-size: 25px;
}

.nav-item {
    font-size: 35px;
    transition: font-size 0.8s;
}

.nav-item-produse {
    font-size: 25px;
    transition: font-size 0.8s;

}

.nav-item-reg {
    font-size: 20px;
    transition: font-size 0.5s;
    /* color: black; */
}

/* icons din navBar */
.icons-nav {
    font-size: 1.9rem;
    color: #240101;
}

.icons-nav:hover {
    color: #4b1515de;
    transition: font-size 1.9s;
}


.icon-signIn {
    font-size: 1.7rem;
    color: black;
}

.icon-phone {
    margin-left: 20px;
    font-size: 1.2rem;

}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-link.dropdown-toggle:hover .dropdown-menu:hover {
    display: block;
}


.dropdown-menu li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -20px;
}


/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(90deg);
}

nav .nav-cart {
    cursor: pointer;
    position: relative;
}

nav .nav-cart span {
    position: absolute;
    /*top: -2px;*/
    right: -5px;
    background: crimson;
    font-size: 12px;
    color: white;
    padding: 3px 7px;
    border-radius: 50%;
    /*z-index: -1;*/
}
.navbar-brand:hover {
    transform: scale(1.1);
}