#produs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-produse {
    min-width: 360px;
    min-height: 490px;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
    flex: 0 1 25%;
    position: relative;
}

.order{
    text-decoration: none;
    border: none;
    outline: none;
    background: #333;
    color: white !important;
    width: 95%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 35px 0 20px;
    position: absolute;
    bottom:0;
}

.order-detalii{
    text-decoration: none;
    border: none;
    outline: none;
    background: #333;
    color: white !important;
    /*width: 45%;*/
    /*height: 40px;*/
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 35px 0 20px;
    /*bottom:0;*/
}

.btn-reg:hover{
    background-color: rgba(12, 2, 2, 0.96);
}

.order-admin-edit:hover{
    background-color: rgba(12, 2, 2, 0.96);
}

.btn-reg{
    text-decoration: none;
    border: none;
    outline: none;
    background: #333;
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
    cursor: pointer;
}

.order-admin-edit{
    text-decoration: none;
    border: none;
    outline: none;
    background: #333;
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
    cursor: pointer;
    /*margin-bottom: 40px;*/
    /*margin-right: 40px;*/
    /*width: 160px !important;*/
    position: absolute;
    bottom: 0.9em;
    /*width: 95%;*/
    /*margin: 15px 0 ;*/
    height: 40px;
    display: inline;
    left:10px;
}

.order-admin-delete{
    text-decoration: none;
    border: none;
    outline: none;
    background: #333;
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
    cursor: pointer;
    /*margin-bottom: 40px;*/
    /*margin-right: 40px;*/
    /*width: 160px !important;*/
    position: absolute;
    bottom: 0.9em;
    /*width: 95%;*/
    /*margin: 15px 0 ;*/
    height: 40px;
    display: inline;
    right:10px;
}

.card-produse-admin {
    min-width: 360px;
    min-height: 490px;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
    flex: 0 1 25%;
    position: relative;
}

.container-search {
    /*display: flex;*/
    /*align-items: center;*/
    justify-content: space-around;
}

.card-produse-search{
    min-width: 360px;
    min-height: 480px;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
    flex: 0 0 5%;
}

.card:hover {
    box-shadow: none;
}

.card img {
    max-width: 300px;
    width: 100%;
    height: 100%;
    height: 200px;
    display: block;
    object-fit: cover
}

#navItem {
    text-transform: uppercase;
    margin: 10px 0;
    text-decoration: none;
}


.card h4{
    text-transform: uppercase;
    margin: 10px 0;
}

card h4 a{
    text-decoration: none;
    color: #333;
}

.card h4 a:hover{
    color:red;
}

.card span{
    color: #e20c0c;
}

.card p{
    margin: 10px 0;
}

.card h6{
    margin: 10px 0;
    color: #2a0202;
}

.categorii{
    background-image: url("../pictures/shoppingCart.png");
    background-position: center;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}



