* {
  font-family: "Lato",sans-serif,Playfair Display;
}
* {
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* HOME PAGE*/
.container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 150px 20px 1000px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: inline;
}

.header-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.header-text:before,
.header-text:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.header-text:after {
  margin: 0 0 0 20px;
}

.rounded-circle:hover {
  transition:all 0.3s ease-in-out;
  transform: scale(1.10);
  opacity:0.8;
}


.text-label {
  /*font-family: "\f15a";*/
  font-weight: 700;
  font-size: 18px;
}

#img1 {
  width: 300px;
  padding-top: 50px;
}



body { 
  /* min-height: 100vh;
  display: flex;
  font-weight: 400; */
  /* font-family: sans-serif; */
  /* /* background: #12c2e9;   */
  /* background: -webkit-linear-gradient(to right, #d67070, #c471ed, #12c2e9);  
  background: linear-gradient(to right, #ffb88c, #bd6c6c, #de6262);  */
  
  
 } 

/* body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
} */

/* change the background color */
 /* #navbarNavAltMarkup {
  background-color: #5f3823;
}   */

.nav-item-aut {
  font-size: 20px;
  transition: font-size 0.5s  !important;
  /* color: black; */
  margin-left: 20px;
}


#spanDet {
  background: #4b151591;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  margin-left: 370px;
}

.header-text {
  color: #4b1515de;
}
#headertext {
  color: gray;
}
#rowHead {
  padding: 12px 10px 20px 10px;
  /* background-image: url("./pictures/texture5.jpg"); */
  /* background-repeat: no-repeat; */
  background-color: white;
}

#header{
  margin-top: 60px !important;
  margin-left: 0px !important;
  margin-bottom: 10px !important;
}

.menu-item {
  color:#4b1515de;
  font-size:17px;
}

.card-text{
  color: gray;
}

#logoDiana {
  width: 150px;
}

#foot {
  margin-top:850px;
}

.card-header{
  font-size: 25px;
  height:80px;
}

#card-text{
  font-size: 17px;
}

#btnDropDown {
  color:white;
  font-size: 18px;
  width:300px;

}

.container-fluid {
  padding: 0px;
}

.card-panou {
  /*background: transparent;*/
  opacity: .95;
  background: rgba(99, 95, 95, 0.07);

}

.card-panou-adauga {
  background: transparent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*align-items: center;*/
  justify-content: space-around;
  background-size: cover;
  /*opacity: .95; */
  /*background: rgba(104, 100, 100, 0.096);*/
}






